//@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  background: $body-background;
  color: $dark-grey;
  font-family: $body-font;
}

a {
  text-decoration: none;
}

.emphatic {
  font-size: 24px; 
  font-weight: 100;
  line-height: 1.4em;
  border-left: 4px solid $primary;
  padding: $default-gap;
  //font-weight: 100;
  font-style: italic;
  background: $transparent-black;
}

h1.jumbo {
  font-size: 72px;
  margin: 0;
}

h2.jumbo {
  font-size: 48px;
  margin: 0 0 $double-gap 0;
}

p.jumbo {
  font-size: 24px;
  margin: 0 0 $double-gap 0;
}
