//Primary Content Regions
#main-header {
  height: $double-box;
  margin-bottom: $double-gap;
}

#main-component-wrapper {
  flex: 1;
}

#ux-site-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0;
}

//Modifiers

.l-fullscreen {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.l-flex {
  display: flex;
  &-centered {
    @extend .l-flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &-vertical {
    @extend .l-flex;
    flex-direction: column;
    &-centered{
      @extend .l-flex-vertical;
      min-height:100%;
      align-items: center;
      justify-content: center;
    }
    &-full {
       @extend .l-flex-vertical;
      min-height:100vh;
      align-items: center;
      justify-content: center;
    }
  }
  &-full {
    @extend .l-flex-vertical;
    min-height: 100vh;
  }
  &-two-column {
    width: 768px;
    display: flex;
    .column-1 {
      width: 50%;
    }
    .column-2 {
      width: 50%;
    }
  }
}

.l-centered {
  display: block;
  margin: 0 auto $default-gap;
}

.l-text-centered {
  text-align: center;
}
