#ux-site {
  margin: 70px 0;
  line-height: 1.4em;
  .logo {
    background: url(../images/text-logo.png) no-repeat center;
    background-size: auto 36px;
    height: 36px;
    margin: 0 0 50px 0;
  }
  h2 {
    font-weight: 100;
    text-align: center;
  }
}
