.button {
  min-height: $default-box;
  border: none;
  min-width: $double-box;
  padding: 0 $default-gap;
  border-radius: $default-border-radius;
  @include is-scale-state-machine();
}

.button-big {
  min-height: $double-box;
  font-size: 24px;
  padding: 0 $octo-gap;
}

.button-group {
  display: flex;
  .button {
     @include is-bg-state-machine($light-grey, false);
  }
}

.button-default {
  @include is-bg-state-machine($light-grey, false);
}

.button-warn {
  @include is-bg-state-machine($warning, true);  
}

.button-primary {
  @include is-bg-state-machine($primary, true);  
}

.button-border {
  border: 2px solid $dark-grey;
  color: $dark-grey;
  border-radius: $double-border-radius;
}
