.chronicle-logo {
    width: 120px;
    height: 120px;
    background: url(../images/chronicle-logo.png);
    margin: 0 0 $double-gap;
    position: relative;
    left: -5px;
}


#fullpage {
  input {
    border-radius: 0;
    margin: $double-gap 0;
    width: 320px;
    height: 68px;
  }
  button {
    width: 320px;
        margin: $double-gap 0;
  }
}
