<div id="ux-site">
<div class="container-small">
  <header>
    <div class="logo"></div>
  </header>
  <section id="intro">
    <header><h2>&sect; What is Chronicle?</h2></header>
    <p class="emphatic">Chronicle is a tool to help you find all the best things you've seen and shared on the web.</p>

    <p>We believe current tools for recovering previously viewed web-content are <i>fundamentally broken</i>. History and bookmarks  are outmoded, clunky tools that are difficult to use effectively on a single device and nearly impossible to maintain across multiple devices.</p>
     <p>Our user research tells us that users make due with a number of ad hoc methods for saving and recovering content. We believe we can do better.</p>
  </section>
  <section>
  <header><h2>&sect; Less Talk, More Rock</h2></header>
        <a href="https://www.lucidchart.com/publicSegments/view/54b43023-c0a4-4533-9769-0fbb0a008deb/image.pdf" ><button class="button button-big button-primary l-centered">View &alpha; Sign Up Flow (PDF)</button>
    </a>
        <a href="#main"><button class="button button-big button-primary l-centered">View &alpha; UI Elements</button>
    </a>
  </section>
  <section id="about">
    <header><h2>&sect; About this Site</h2></header>
    <p>This site serves as both as a hub for organizing ideas and decisions about Chronicle's UX as well as a living document of Chronicle's style code.</p>
  </section>
  <section id="contact">
    <header><h2>&sect; Who made This?</h2></header>
    <p>The Chronicle UX Team is <a href="mailto:jgruen@mozilla.com">John Gruen</a> and <a href="mailto:bbell@mozilla.com">Bryan Bell.</a></p>
    <p>This site is public/open etc. <a href="https://github.com/johngruen/chronicle-ux" target="_blank">Here's the repo.</p>
  </section>
</div>
</div>
