<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="container">

<div class="item item-full item-default-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


<div class="item item-full item-double-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group l-flex-vertical">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
  </div>

<div class="item item-full item-half-size">
  <div class="item-sub-image"></div>
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-big icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-big icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-big icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-big icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>

<div class="item item-compressed">
  <div class="item-sub-text"></div>
  <div class="item-sub-actions icon-button-group">
    <button class="icon-button icon-button-warn"><i class="icon-cancel"></i></button>
    <button class="icon-button icon-button-facebook"><i class="icon-facebook-squared-1"></i></button>
    <button class="icon-button icon-button-twitter"><i class="icon-twitter"></i></button>
    <button class="icon-button icon-button-default"><i class="icon-ellipsis"></i></button>
  </div>
</div>


