<div id="fullpage">
  <div class="section">
    <div id="main-notification" class="static">
      <div class="container l-flex">
        <p>Chronicle is currently in development. <a href="">Learn more.</a></p>
      </div>
    </div>
    <div class="l-flex-vertical-centered">
      <div class="chronicle-logo"></div>
      <h1 class="jumbo">Chronicle</h1>
      <p class="jumbo">Find everything you've ever found</p>
      <button class="skip-intro button button-big button-primary l-centered" data->Get started</button>
    </div>
  </div>
  <div class="section">B</div>
  <div class="section">C</div>
  <div class="section">
    <div class="l-flex-vertical-centered">
    <div class="chronicle-logo"></div>
      <h2 class="jumbo">Let's Get Started</h1>
      <input type="text" placeholder="enter your email...">
      <button class="skip-intro button button-big button-primary l-centered" data->Submit</button>
      </div>
  </div>
</div>
