<div id="fullpage">
  <div class="section">
    <div id="main-notification" class="static">
      <div class="container l-flex">
        <p>Chronicle is currently in development. <a href="">Learn more.</a></p>
      </div>
    </div>
    <div class="l-flex-vertical-centered">
      <div class="chronicle-logo"></div>
      <h1 class="jumbo">Chronicle</h1>
      <p class="jumbo">Find everything you've ever found</p>
      <button class="skip-intro button button-big button-primary l-centered">Get started</button>
    </div>
  </div>
  <div class="section">
    <div class="l-flex-vertical-centered">
    <div class="l-flex-two-column">
      <div class="column-1 l-flex-vertical-centered">
      <div>
      <h2 class="jumbo">Never lose a thing</h2>
      <p class="jumbo">Chronicle take all the best stuff you find online and organizes it into a beautiful feed.</p>
      </div>
      </div>
      <div class="column-2">
        <div class="round"></div>
        <div class="square-holder" data-index="0"><div class="square"></div></div>
        <div class="square-holder" data-index="1"><div class="small-square"></div></div>
        <div class="square-holder" data-index="2"><div class="square"></div></div>
        <div class="square-holder" data-index="3"><div class="square"></div></div>
        <div class="square-holder" data-index="4"><div class="small-square"></div></div>
        <div class="square-holder" data-index="5"><div class="square"></div></div>
        <div class="square-holder" data-index="6"><div class="small-square"></div></div>
        <div class="square-holder" data-index="7"><div class="small-square"></div></div>
        <div class="square-holder" data-index="8"><div class="square"></div></div>
      </div>
    </div>
    </div>
  </div>

  <div class="section">
        <div class="l-flex-vertical-centered">
        <div class="secure-animation">
          <div class="secure"></div>
          <div class="plus"></div>
          <div class="private"></div>
          <div class="equal"></div>
          <div class="logo"></div>
        </div>
      <h2 class="jumbo">simply secure</h1>
      <p class="jumbo l-text-centered">Cronicle is built by Mozilla,<br>the non-profit behind Firefox,<br>So your data will always be<br>private and secure.</p>
    </div>
  </div>


  <div class="section">
    <div class="l-flex-vertical-centered">
    <div class="chronicle-logo"></div>
      <h2 class="jumbo">Let's get started</h1>
      <input type="text" placeholder="enter your email...">
      <button class="skip-intro button button-big button-primary l-centered" data->Submit</button>
    </div>
  </div>
</div>
