<div class="l-flex-vertical-centered">

  <div id="loading">
    
    <div class="loading-element">
      <div class="loading-element-icon"></div>
      <p class="loading-element-text">Add-on installed</p>
    </div>

    <div class="loading-element">
      <div class="loading-element-icon"></div>
      <p class="loading-element-text">Building Chronicle.<br>This may take a second...</p>
    </div>

    <div class="loading-element">
      <div class="loading-element-icon"></div>
      <p class="loading-element-text">Chronicle is the fastest way<br>to find your stuff on the web.</p>
    </div>

    <div class="loading-element">
      <div class="loading-element-icon"></div>
      <p class="loading-element-text">Chronicle is automatically disabled<br>while you're in private mode.</p>
    </div>

    <div class="loading-element">
      <div class="loading-element-icon"></div>
      <p class="loading-element-text">Love Chronicle? Want more features<br>Send feedback any time.</p>
    </div>

    <div class="loading-element">
      <div class="loading-element-icon"></div>
      <p class="loading-element-text">All set!</p>
    </div>

  </div>

  <div class="loading-bar"></div>

</div>


